Backup_01-11-2026/YouTube RSS Monitor - Discord Alerts (No Quota).json
{
  "updatedAt": "2025-12-27T05:58:56.788Z",
  "createdAt": "2025-12-24T05:13:25.163Z",
  "id": "STmhjodwNqSKBXzX",
  "name": "YouTube RSS Monitor - Discord Alerts (No Quota)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Check Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        272,
        304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// Add your YouTube channel IDs here\nconst channelIds = [\n  'UCXuqSBlHAE6Xw-yeJA0Tunw',  // Linus Tech Tips\n  'UCBJycsmduvYEL83R_U4JriQ',  // MKBHD\n  'UC_x5XG1OV2P6uZZ5FSM9Ttw',  // Google Developers\n  'UCsooa4yRKGN_zEE8iknghZA',  // TED-Ed\n  'UCjxrFnMg_scE7fkw_Ip0_yA',  // Albasheer Show\n];\n\nreturn channelIds.map(channelId => ({\n  json: { channelId }\n}));"
      },
      "id": "code-channels",
      "name": "Set Channel IDs to Monitor",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        304
      ],
      "typeVersion": 2,
      "notes": "Each channel ID in the array will create a separate output item."
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.channelId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        }
      },
      "id": "http-fetch",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        304
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "xml-parse",
      "name": "Parse XML to JSON",
      "type": "n8n-nodes-base.xml",
      "position": [
        832,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Extract entries from the parsed RSS feed\nconst feed = $input.item.json;\nconst entries = feed?.feed?.entry || [];\n\n// Handle both single entry and array of entries\nconst entryArray = Array.isArray(entries) ? entries : [entries];\n\nreturn entryArray.map(entry => ({\n  json: {\n    title: entry?.title?._text || entry?.title || '',\n    link: entry?.link?._attributes?.href || '',\n    published: entry?.published?._text || entry?.published || '',\n    author: entry?.author?.name?._text || entry?.author?.name || '',\n    id: entry?.['yt:videoId']?._text || entry?.['yt:videoId'] || ''\n  }\n}));"
      },
      "id": "extract-items",
      "name": "Extract Feed Items",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst items = $input.all();\nconst todayVideos = [];\n\nfor (const item of items) {\n  const publishedDate = new Date(item.json.published);\n  publishedDate.setHours(0, 0, 0, 0);\n  \n  if (publishedDate.getTime() === today.getTime()) {\n    todayVideos.push({\n      json: {\n        channelTitle: item.json.author,\n        videoTitle: item.json.title,\n        videoId: item.json.id,\n        videoUrl: item.json.link || `https://www.youtube.com/watch?v=${item.json.id}`,\n        publishedAt: item.json.published,\n        description: ''\n      }\n    });\n  }\n}\n\nreturn todayVideos;"
      },
      "id": "filter-today",
      "name": "Filter Videos from Today",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-video",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json.videoTitle }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "filter-has-videos",
      "name": "Only If Videos Found",
      "type": "n8n-nodes-base.filter",
      "position": [
        1344,
        304
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🎥 **New Video from {{ $json.channelTitle }}**\n\n**{{ $json.videoTitle }}**\n\n{{ $json.videoUrl }}",
        "options": {}
      },
      "id": "discord-send",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.discord",
      "position": [
        1520,
        304
      ],
      "webhookId": "e7ebe814-c5d9-4d24-ab0d-26eb044e1b00",
      "typeVersion": 2,
      "credentials": {
        "discordWebhookApi": {
          "id": "R5tyAqC8aKeq1vur",
          "name": "Discord Webhook YouTube Channel"
        }
      }
    }
  ],
  "connections": {
    "Check Every Hour": {
      "main": [
        [
          {
            "node": "Set Channel IDs to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Channel IDs to Monitor": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML to JSON": {
      "main": [
        [
          {
            "node": "Extract Feed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Feed Items": {
      "main": [
        [
          {
            "node": "Filter Videos from Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Videos from Today": {
      "main": [
        [
          {
            "node": "Only If Videos Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only If Videos Found": {
      "main": [
        [
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Check Every Hour": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b018165b-9f84-4f31-bee7-a88b8fdc9781",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T05:13:25.173Z",
      "createdAt": "2025-12-24T05:13:25.173Z",
      "role": "workflow:owner",
      "workflowId": "STmhjodwNqSKBXzX",
      "projectId": "728hRCi3Wf7il0Xj"
    }
  ],
  "activeVersion": null,
  "tags": []
}