Backup_02-08-2026/Home Lab Monitor - Simple.json
{
  "updatedAt": "2025-12-28T03:08:24.847Z",
  "createdAt": "2025-12-28T01:50:37.507Z",
  "id": "gHUWIOm9yH4relcr",
  "name": "Home Lab Monitor - Simple",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        304
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURE: Add your home lab services here\nconst services = [\n  {\n    name: 'Proxmox',\n    url: 'https://172.16.0.26:8006/',\n    type: 'web'\n  },\n  {\n    name: 'Docker Host', \n    url: 'http://192.168.1.101:8080',\n    type: 'web'\n  }\n];\n\nreturn services.map(s => ({ json: s }));"
      },
      "id": "services",
      "name": "Your Services List",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "health_check",
      "name": "Check Service Health",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        688,
        304
      ],
      "typeVersion": 4.3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const issues = [];\n\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  const status = item.json.statusCode;\n  \n  if (!status || status >= 400) {\n    issues.push({\n      service: name,\n      problem: status ? `HTTP ${status}` : 'Unreachable',\n      url: item.json.url\n    });\n  }\n}\n\nreturn [{ json: { hasIssues: issues.length > 0, issues, count: issues.length } }];"
      },
      "id": "analyze",
      "name": "Find Issues",
      "type": "n8n-nodes-base.code",
      "position": [
        912,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "combinator": "and",
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has_issues",
      "name": "Any Issues?",
      "type": "n8n-nodes-base.if",
      "position": [
        1120,
        304
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "const issues = $json.issues;\nconst time = new Date().toLocaleString();\n\nlet msg = `🚨 HOME LAB ALERT\\n\\n`;\nmsg += `Time: ${time}\\n`;\nmsg += `Issues: ${issues.length}\\n\\n`;\n\nissues.forEach(i => {\n  msg += `🔴 ${i.service}\\n  Problem: ${i.problem}\\n\\n`;\n});\n\nreturn [{ json: { message: msg, issues } }];"
      },
      "id": "format_msg",
      "name": "Create Alert",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "all_good",
      "name": "All Services OK",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1344,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1449099762656874569",
          "mode": "list",
          "cachedResultName": "TheHomeNetwork server",
          "cachedResultUrl": "https://discord.com/channels/1449099762656874569"
        },
        "channelId": {
          "__rl": true,
          "value": "1454658365971107943",
          "mode": "list",
          "cachedResultName": "max",
          "cachedResultUrl": "https://discord.com/channels/1449099762656874569/1454658365971107943"
        },
        "content": "Test",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1552,
        96
      ],
      "id": "bdea9405-1da2-4f12-ba20-807eca288167",
      "name": "Discord",
      "webhookId": "2e14ce82-dbe8-43aa-85e4-4f25eebca059",
      "credentials": {
        "discordBotApi": {
          "id": "93MFHqivsox8kE1F",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A5C8T406B",
          "mode": "list",
          "cachedResultName": "max"
        },
        "text": "Hello from n8n 🚀",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1552,
        288
      ],
      "id": "27d45b4b-c201-4552-a6f0-aca99d51a203",
      "name": "Slack",
      "webhookId": "d2941840-75dd-4b6b-8ebe-534a3d7b312f",
      "credentials": {
        "slackApi": {
          "id": "nlPxZc9cb9pNlLkm",
          "name": "Slack bot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        48
      ],
      "id": "9cd1c89e-132d-4e25-9aaa-234341e6a162",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ssh-gateway:8080/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer change-this-token"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"command\": \"uptime\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        48
      ],
      "id": "db623f8c-0b1b-44a2-bb7e-4b4f7f08ee6a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "command": "ls",
        "cwd": "/~ahmed"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        688,
        112
      ],
      "id": "326a013e-1fd8-446f-ae61-3448663a7c08",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "T5ND320oKsiJ3zxi",
          "name": "SSH H-Docker-SRV Password account"
        }
      }
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Your Services List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Your Services List": {
      "main": [
        [
          {
            "node": "Check Service Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Service Health": {
      "main": [
        [
          {
            "node": "Find Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Issues": {
      "main": [
        [
          {
            "node": "Any Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Issues?": {
      "main": [
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Services OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Alert": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6c619721-bf9d-4f3e-bcd3-561df9e4bfaa",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T01:50:37.516Z",
      "createdAt": "2025-12-28T01:50:37.516Z",
      "role": "workflow:owner",
      "workflowId": "gHUWIOm9yH4relcr",
      "projectId": "728hRCi3Wf7il0Xj"
    }
  ],
  "activeVersion": null,
  "tags": []
}