Backup_02-08-2026/Home Lab Approval Handler.json
{
  "updatedAt": "2025-12-28T01:42:08.777Z",
  "createdAt": "2025-12-28T01:42:08.777Z",
  "id": "TiiNT9ALQGBi38Sr",
  "name": "Home Lab Approval Handler",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "discord_interaction",
      "name": "Discord Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "parameters": {
        "path": "discord-interactions",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "discord-interactions"
    },
    {
      "id": "slack_interaction",
      "name": "Slack Button Click",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        380
      ],
      "parameters": {
        "path": "slack-interactions",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "slack-interactions"
    },
    {
      "id": "parse_discord",
      "name": "Parse Discord Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const interaction = $input.first().json.body;\n\nif (interaction.type === 1) {\n  return [{ json: { type: 1 } }];\n}\n\nif (interaction.type === 2) {\n  const command = interaction.data.name;\n  const options = interaction.data.options || [];\n  \n  let action = command;\n  let approvalId = options.find(o => o.name === 'approval_id')?.value;\n  \n  return [{\n    json: {\n      source: 'discord',\n      action: action,\n      approvalId: approvalId,\n      userId: interaction.member.user.id,\n      userName: interaction.member.user.username,\n      responseToken: interaction.token,\n      applicationId: interaction.application_id\n    }\n  }];\n}\n\nreturn [{ json: { error: 'Unknown interaction type' } }];"
      }
    },
    {
      "id": "parse_slack",
      "name": "Parse Slack Button",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body;\nconst payload = JSON.parse(body.payload || '{}');\n\nif (payload.type === 'block_actions') {\n  const action = payload.actions[0];\n  \n  return [{\n    json: {\n      source: 'slack',\n      action: action.value,\n      approvalId: payload.message.ts,\n      userId: payload.user.id,\n      userName: payload.user.name,\n      responseUrl: payload.response_url,\n      channelId: payload.channel.id\n    }\n  }];\n}\n\nreturn [{ json: { error: 'Unknown Slack action' } }];"
      }
    },
    {
      "id": "merge_sources",
      "name": "Merge Approval Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "mergeByIndex"
      }
    },
    {
      "id": "get_issues",
      "name": "Get Stored Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const approvalId = $input.first().json.approvalId;\n\nconst issues = [\n  {\n    service: 'Docker Host',\n    issue: 'Service unreachable',\n    recommendedFix: 'restart_docker',\n    type: 'docker'\n  }\n];\n\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    ...input,\n    issues: issues\n  }\n}];"
      }
    },
    {
      "id": "call_main_workflow",
      "name": "Trigger Main Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/homelab-approval",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "approvalId",
              "value": "={{ $json.approvalId }}"
            },
            {
              "name": "issues",
              "value": "={{ JSON.stringify($json.issues) }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "userName",
              "value": "={{ $json.userName }}"
            }
          ]
        }
      }
    },
    {
      "id": "route_response",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1120,
        500
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.source }}",
                    "value2": "discord"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.source }}",
                    "value2": "slack"
                  }
                ]
              },
              "output": 1
            }
          ]
        }
      }
    },
    {
      "id": "respond_webhook_discord",
      "name": "Webhook Response (Discord)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        440
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { type: 4, data: { content: $json.action === 'approve' ? '✅ Processing approval...' : '❌ Action denied' } } }}"
      }
    },
    {
      "id": "respond_webhook_slack",
      "name": "Webhook Response (Slack)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response_type: 'ephemeral', text: 'Processing...' } }}"
      }
    }
  ],
  "connections": {
    "Discord Slash Command": {
      "main": [
        [
          {
            "node": "Parse Discord Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Button Click": {
      "main": [
        [
          {
            "node": "Parse Slack Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Discord Command": {
      "main": [
        [
          {
            "node": "Merge Approval Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Button": {
      "main": [
        [
          {
            "node": "Merge Approval Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Approval Sources": {
      "main": [
        [
          {
            "node": "Get Stored Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stored Issues": {
      "main": [
        [
          {
            "node": "Trigger Main Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Webhook Response (Discord)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3b73a07e-5401-40bf-b703-4488a6fd6eaa",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-28T01:42:08.783Z",
      "createdAt": "2025-12-28T01:42:08.783Z",
      "role": "workflow:owner",
      "workflowId": "TiiNT9ALQGBi38Sr",
      "projectId": "728hRCi3Wf7il0Xj"
    }
  ],
  "activeVersion": null,
  "tags": []
}