Backup_01-10-2026/Daily n8n Workflow Backup to GitHub.json
{
  "updatedAt": "2026-01-11T05:14:25.521Z",
  "createdAt": "2026-01-10T21:30:30.361Z",
  "id": "BK0p2oLjiEs1__ErmaTgj",
  "name": "Daily n8n Workflow Backup to GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1440,
        -176
      ],
      "id": "02f6b2d8-a588-4961-a08c-73afa4514336",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1040,
        -176
      ],
      "id": "2bed5291-2369-4068-b140-91346cdbc0b8",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "NmI0T5DT7z1sZJu8",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b364758-e1d2-4919-8492-1f0308688f3f",
              "name": "foldername",
              "value": "=Backup_{{ $now.format('MM-dd-yyyy')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -176
      ],
      "id": "d4c583f4-9dc4-467b-b82d-daf8c1067cde",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        -176
      ],
      "id": "27b28cdf-39aa-46b6-ab9d-50c1eda87078",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9b6326d-8611-430c-8bee-c651296a0b84",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "97c8e0a5-32a4-4423-878a-86e154b5dd02",
              "name": "filename",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        -64
      ],
      "id": "00278c17-d715-448f-a5f9-436051885731",
      "name": "Prepare File Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        -64
      ],
      "id": "8ea48663-85cd-4dab-9cfe-2ef69f5cb76a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ahmedghost81",
          "mode": "list",
          "cachedResultName": "ahmedghost81",
          "cachedResultUrl": "https://github.com/ahmedghost81"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Backup",
          "cachedResultUrl": "https://github.com/ahmedghost81/n8n_Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.foldername }}/{{ $('Prepare File Content').item.json.filename }}",
        "fileContent": "={{ $json.data }}",
        "commitMessage": "={{ $now.setZone('America/Chicago').format('yyyy-MM-dd T') }} Backup Completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        48,
        -64
      ],
      "id": "dea1802d-e4e4-43fc-b5e3-56204f3017ac",
      "name": "Create a file",
      "webhookId": "919a31b5-c21e-4594-a000-5bdc4920dfdd",
      "credentials": {
        "githubApi": {
          "id": "7I98QJYi2uaISxK5",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        -64
      ],
      "id": "089ecc16-27fa-4c7d-bd56-d05587cfe42d",
      "name": "Move Binary Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4",
          "mode": "list",
          "cachedResultName": "n8n Workflow Backup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DataTime": "={{ $now.format('yyyy-MM-dd T') }}",
            "File Name": "={{ $('Prepare File Content').item.json.filename }}",
            "Folder Name": "={{ $('Edit Fields').item.json.foldername }}",
            "Error Message": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DataTime",
              "displayName": "DataTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        32
      ],
      "id": "7864ee0e-f2d1-4251-aace-30b8d096ae70",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lzNkHsI4KnmWAMGt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ahmedghost81",
          "mode": "list",
          "cachedResultName": "ahmedghost81",
          "cachedResultUrl": "https://github.com/ahmedghost81"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Backup",
          "cachedResultUrl": "https://github.com/ahmedghost81/n8n_Backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.foldername }}/ReadME.md",
        "fileContent": "=# N8N Workflow Backup\nThis folder contains the backup of all N8N workflows as of {{$now.format('MM-dd-yyyy')}}\n\n# Backup Details\n- Backup Time: {{ $now.format('MM-dd-yyyy T') }}\n- Total Workflows: 12\n\n# Files\nEach workflow is saved as a separate JSON file format\n\n---\n*Automatically generated by N8N Backup workflow*",
        "commitMessage": "N8N Backup Workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -384,
        -272
      ],
      "id": "fa574c19-c181-4cc2-9001-5df1258db3fa",
      "name": "Create README.md file",
      "webhookId": "669e00f2-96b5-4ea4-880b-c1772682f70f",
      "credentials": {
        "githubApi": {
          "id": "7I98QJYi2uaISxK5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -592,
        -272
      ],
      "id": "578ef511-f6fc-40ab-836e-c12e1412a5e7",
      "name": "Limit"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Create README.md file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "foldername": "Backup_01-10-2026"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-10T16:42:31.703-05:00",
          "Readable date": "January 10th 2026, 4:42:31 pm",
          "Readable time": "4:42:31 pm",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "10",
          "Hour": "16",
          "Minute": "42",
          "Second": "31",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "970a5e9e-9f98-4334-89d9-5e7eebd65959",
  "activeVersionId": "970a5e9e-9f98-4334-89d9-5e7eebd65959",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-10T21:30:30.384Z",
      "createdAt": "2026-01-10T21:30:30.384Z",
      "role": "workflow:owner",
      "workflowId": "BK0p2oLjiEs1__ErmaTgj",
      "projectId": "728hRCi3Wf7il0Xj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-11T05:51:43.000Z",
    "createdAt": "2026-01-11T05:08:39.326Z",
    "versionId": "970a5e9e-9f98-4334-89d9-5e7eebd65959",
    "workflowId": "BK0p2oLjiEs1__ErmaTgj",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1440,
          -176
        ],
        "id": "02f6b2d8-a588-4961-a08c-73afa4514336",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1040,
          -176
        ],
        "id": "2bed5291-2369-4068-b140-91346cdbc0b8",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "NmI0T5DT7z1sZJu8",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4b364758-e1d2-4919-8492-1f0308688f3f",
                "name": "foldername",
                "value": "=Backup_{{ $now.format('MM-dd-yyyy')}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1232,
          -176
        ],
        "id": "d4c583f4-9dc4-467b-b82d-daf8c1067cde",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -832,
          -176
        ],
        "id": "27b28cdf-39aa-46b6-ab9d-50c1eda87078",
        "name": "Loop Over Items",
        "retryOnFail": false,
        "executeOnce": false,
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c9b6326d-8611-430c-8bee-c651296a0b84",
                "name": "nodes",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "97c8e0a5-32a4-4423-878a-86e154b5dd02",
                "name": "filename",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -624,
          -64
        ],
        "id": "00278c17-d715-448f-a5f9-436051885731",
        "name": "Prepare File Content"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "nodes",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -416,
          -64
        ],
        "id": "8ea48663-85cd-4dab-9cfe-2ef69f5cb76a",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "ahmedghost81",
            "mode": "list",
            "cachedResultName": "ahmedghost81",
            "cachedResultUrl": "https://github.com/ahmedghost81"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Backup",
            "mode": "list",
            "cachedResultName": "n8n_Backup",
            "cachedResultUrl": "https://github.com/ahmedghost81/n8n_Backup"
          },
          "filePath": "={{ $('Edit Fields').item.json.foldername }}/{{ $('Prepare File Content').item.json.filename }}",
          "fileContent": "={{ $json.data }}",
          "commitMessage": "={{ $now.setZone('America/Chicago').format('yyyy-MM-dd T') }} Backup Completed"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          48,
          -64
        ],
        "id": "dea1802d-e4e4-43fc-b5e3-56204f3017ac",
        "name": "Create a file",
        "webhookId": "919a31b5-c21e-4594-a000-5bdc4920dfdd",
        "credentials": {
          "githubApi": {
            "id": "7I98QJYi2uaISxK5",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -208,
          -64
        ],
        "id": "089ecc16-27fa-4c7d-bd56-d05587cfe42d",
        "name": "Move Binary Data"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4",
            "mode": "list",
            "cachedResultName": "n8n Workflow Backup",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Status",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1opzbAUC97aU__r25Hd6hNEVxx6DV6p1k0hr3Isd4xI4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "DataTime": "={{ $now.format('yyyy-MM-dd T') }}",
              "File Name": "={{ $('Prepare File Content').item.json.filename }}",
              "Folder Name": "={{ $('Edit Fields').item.json.foldername }}",
              "Error Message": "={{ $json.error }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "DataTime",
                "displayName": "DataTime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Folder Name",
                "displayName": "Folder Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "File Name",
                "displayName": "File Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Error Message",
                "displayName": "Error Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          256,
          32
        ],
        "id": "7864ee0e-f2d1-4251-aace-30b8d096ae70",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lzNkHsI4KnmWAMGt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "ahmedghost81",
            "mode": "list",
            "cachedResultName": "ahmedghost81",
            "cachedResultUrl": "https://github.com/ahmedghost81"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Backup",
            "mode": "list",
            "cachedResultName": "n8n_Backup",
            "cachedResultUrl": "https://github.com/ahmedghost81/n8n_Backup"
          },
          "filePath": "={{ $('Edit Fields').item.json.foldername }}/ReadME.md",
          "fileContent": "=# N8N Workflow Backup\nThis folder contains the backup of all N8N workflows as of {{$now.format('MM-dd-yyyy')}}\n\n# Backup Details\n- Backup Time: {{ $now.format('MM-dd-yyyy T') }}\n- Total Workflows: 12\n\n# Files\nEach workflow is saved as a separate JSON file format\n\n---\n*Automatically generated by N8N Backup workflow*",
          "commitMessage": "N8N Backup Workflow"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -384,
          -272
        ],
        "id": "fa574c19-c181-4cc2-9001-5df1258db3fa",
        "name": "Create README.md file",
        "webhookId": "669e00f2-96b5-4ea4-880b-c1772682f70f",
        "credentials": {
          "githubApi": {
            "id": "7I98QJYi2uaISxK5",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -592,
          -272
        ],
        "id": "578ef511-f6fc-40ab-836e-c12e1412a5e7",
        "name": "Limit"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Content": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Move Binary Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move Binary Data": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Create README.md file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ahmed Alwahib",
    "name": "Jan 10 at 23:08:39",
    "description": "",
    "autosaved": false
  },
  "tags": []
}